@model RegisterViewModel

@{
    ViewData["Title"] = "Registration";

}
<div>
    <form action="/register" method="post">
        <p>
            <label>Email</label>
            <input name="Email" type="text" value="@Model.Email" />
        </p>
        <p>
            <label>Password</label>
            <input name="Password" type="password" />
        </p>
        <button>Register</button>
    </form>
</div>